.App {
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.Title {
  padding: 20px 0;
  margin-bottom: 20px;
}

.App input {
  width: 90%;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #555;
  color: #333;
  font-style: italic;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px rgba(120, 120, 120, 0.35);
}

.Btn {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  outline: none;
}

.Subtitle {
  padding: 15px 0;
  margin-bottom: 30px;
  font-style: italic;
}

.ShortUrl {
  color: blue;
  text-decoration: underline;
  margin: 20px 0;
}